body{
    background-color: rgba(20, 21, 22, 0.953);
}
h1,h4{
    border: 1px solid #00c44b;
    border-radius: 10px;
    margin-left: 5px;
    font-family: 'DaMiOne';
    font-size: 50px ;
    color: #00c44b;
    text-align: center 
}
h2,h3{
    margin-left: 5px;
    font-family: 'DaMiOne';
    font-size: 50px ;
    color: rgb(255, 255, 255);
    text-align: left
}
p,ul,ol{    
    margin-left: 5px;
    font-family: 'Jura';
    font-size: 20px ;
    color: #00c44b;
    text-align: left
}
.content{
    display: flex;
    margin: 10px;
}
.content-left{
    flex: 1;
    padding: 30px;
    margin-right: 40px;
    background-color: black;
    border-radius: 50px;
}
.content-right{
    flex: 1;
    background-color: black;
    padding: 30px;
    border-radius: 40px;
    text-align: center;
    margin-left: 35px;
}
.content-right img{
    border-style:solid;
    border-color:#00c44b;
    border-radius: 40px;
    width: 500;
    height: 600;
}

